
<h1><%= link_to "BUG TRACKING SYSTEM", '/dashboard' %></h1>
<h1>Project details</h1>
<p><b>Title:  </b><%= @project.title%> </p>
<p><b>Description:   </b><%= @project.description%> </p>
<p><b>Project ID :   </b><%= @project.id%> </p>
<%if current_user.id == @project.user_id%>
<%= link_to "Edit", edit_project_path, :class =>"btn btn-outline-primary" %>

<div>
<br>
<%= button_to "Delete", project_path(@project),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
<%end%>
</div>
<h2>User assigned</h2>
<% if @project_username.present?%>
<%@project_username.each do |p|%>
   <b>User Id:    </b><%= p.id %>&nbsp;&nbsp;
   <b>username:    </b><%= p.username %>&nbsp;&nbsp;
   <b>Role:</b>    <%= p.user_type %>&nbsp;&nbsp;
   <%if current_user.id == @project.user_id%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <%= link_to "Remove User", removeuser_project_path(:project_id => @project.id,:user_id => p.id) %>
   <%end%>
    <%end%>
<%else%>
    <p>No users assigned to project</p>
<%end%>
<div>
<%if current_user.id == @project.user_id%>
<h4><%= link_to "Assign User", new_project_user_path(:project_id => @project.id)%></h4>

<%end%>
</div>
<%if current_user.user_type == 'qa' ||current_user.user_type == 'developer'%>
<h2>Related Bugs</h2>
<% if @bugs.present?%>
<% @bugs.each do |bug|%>
    <a href="/bugs/<%= bug.id %>">
    <%= bug.descriptive_title %>
    <%= bug.id %>
    <br>
    <%end%>
<%else%>
    <p>NO Bugs</p>
<%end%>
<%if current_user.user_type == 'qa'%>
<h4><%= link_to "Report Bug", new_bug_path(:project_id => @project.id) , :class =>"btn btn-outline-primary" %></h4>
<%end%>
<%end%>
