<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<%= form_for @bug do |f|%>
  <div class="form-group row">
    <%=f.label :descriptive_title,'Title     :' %>
    <%=f.text_field :descriptive_title , :required => true %><br>
  </div>
<br>
<div>
<%=f.label :Description%>
  <%=f.text_area :description%>
  </div>
  <br>
  <div class="form-group row">
    <%= f.label :deadline, 'Deadline   :' %>
    <%= f.date_field :deadline, :autocomplete => 'off', :class => 'form-control' %>
  </div>
<br>
  <div class="form-group row">
    <%= label :bug_type, 'Type: ', :class=>" col-form-label col-md-1" %>
    <div class="form-control col-md-5",onchange(function)>
      <%= f.radio_button :bug_type, 'bug', :required => true %>
      <%= label :bug_type, 'Bug' %>
      <%= f.radio_button :bug_type, 'feature' %>
      <%= label :bug_type, 'feature' %>
    </div>
      <% bug_status = ['new','started','resolved'] %>
      <%= f.label :status, 'Status:', :class=>"col-form-label col-md-1"  %>
      <%= f.select(:status, bug_status,{}, {:class => "form-control col-md-5",:required=>true}) %>
  </div>
  <div>
  <%= f.hidden_field :project_id, value: @project_id  %>
  </div>
  <div>

    <%= f.hidden_field :creator_id, value: current_user.id  %>
  </div>
<br>
  <div class="form-group">
    <%=f.label :screenshot,'Screen shot:', :class=>"col-form-label" %>
    <%=f.file_field :screenshot, :class => "form-control",:accept => "image/x-png,image/gif" %>
  </div>
<%= f.hidden_field :assign_to, value: nil%>
<br>
    <%= f.submit  :class => 'float-right btn btn-outline-primary' %>

<%end%>

<script type="text/javascript">
  $("input[name='bug[bug_type]']").change(function() {
    var obj = $("select[name='bug[status]']")[0][3]
    if(this.value==='bug'){
      obj.value = "resolved"
      obj.text  = "resolved"
    }
    else{
      obj.value = "completed"
      obj.text = "completed"
    }
  })
  </script>
