<h1>Bug Details</h1>
<p><b>Title: </b> <%=@bug.descriptive_title%></p>
<p><b>Project Id: </b><%=@bug.project_id%></p>
<p><b>Bug Type: </b><%=@bug.bug_type%></p>
<p><b>Status: </b><%=@bug.status%></p>
<p><b>Deadline: </b><%=@bug.deadline%></p>
